In [13]:
import numpy as np
import random
import pandas as pd
from pandas import DataFrame, Series
import datetime
import time
import matplotlib.pyplot as plt
%matplotlib inline

In [38]:
#-*- coding: utf-8 -*-
df = pd.read_csv('df.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 10 columns):
Unnamed: 0            1000000 non-null int64
CLNN                  1000000 non-null int64
TS_D                  1000000 non-null object
FINAL_CD              1000000 non-null int64
SAA                   1000000 non-null int64
MCT_ADM_GDS_APB_CD    1000000 non-null int64
DOF_TF                1000000 non-null int64
DAW_CCD               1000000 non-null int64
MCT_N                 1000000 non-null int64
TIME                  1000000 non-null int64
dtypes: int64(9), object(1)
memory usage: 76.3+ MB

In [5]:
df['HOUR'] = df['TIME']/10000
df['HOUR'] = df.HOUR.astype(int)

In [7]:
gb02 = df.groupby(['CLNN', 'MCT_ADM_GDS_APB_CD', 'HOUR']).count()
gb02

                               Unnamed: 0  TS_D  FINAL_CD  SAA  DOF_TF  \
CLNN  MCT_ADM_GDS_APB_CD HOUR
0     2                  21             1     1         1    1       1
      3                  14             1     1         1    1       1
      4                  1              1     1         1    1       1
                         5              1     1         1    1       1
                         19             1     1         1    1       1
      5                  15             1     1         1    1       1
      6                  16             1     1         1    1       1
      7                  17             1     1         1    1       1
      8                  1              1     1         1    1       1
                         11             1     1         1    1       1
                         22             1     1         1    1       1
      11                 7              1     1         1    1       1
      16                 1              1     1         1    1       1
      18                 4              1     1         1    1       1
                         11             1     1         1    1       1
                         14             1     1         1    1       1
      20                 4              1     1         1    1       1
                         18             1     1         1    1       1
      21                 8              1     1         1    1       1
                         10             1     1         1    1       1
                         17             1     1         1    1       1
      22                 11             1     1         1    1       1
      24                 8              1     1         1    1       1
                         21             1     1         1    1       1
      26                 4              1     1         1    1       1
                         15             2     2         2    2       2
      27                 14             1     1         1    1       1
                         18             1     1         1    1       1
      28                 20             1     1         1    1       1
      33                 11             1     1         1    1       1
...                                   ...   ...       ...  ...     ...
41755 48                 16             1     1         1    1       1
41765 48                 8              1     1         1    1       1
41777 14                 6              1     1         1    1       1
41802 14                 20             1     1         1    1       1
41823 62                 6              1     1         1    1       1
41981 9                  12             1     1         1    1       1
42017 41                 7              1     1         1    1       1
42104 12                 5              1     1         1    1       1
42306 8                  1              1     1         1    1       1
42342 12                 22             1     1         1    1       1
42558 6                  7              1     1         1    1       1
42572 5                  16             1     1         1    1       1
42628 41                 12             1     1         1    1       1
42782 29                 14             1     1         1    1       1
42880 17                 1              1     1         1    1       1
43728 33                 8              1     1         1    1       1
44182 9                  9              1     1         1    1       1
44208 0                  21             1     1         1    1       1
44322 17                 11             1     1         1    1       1
44622 54                 16             1     1         1    1       1
44857 11                 19             1     1         1    1       1
44870 12                 6              1     1         1    1       1
45747 21                 3              1     1         1    1       1
46181 27                 2              1     1         1    1       1
46583 9                  10             1     1         1    1       1
47645 7                  12             1     1         1    1       1
47954 16                 1              1     1         1    1       1
48262 36                 23             1     1         1    1       1
48506 18                 9              1     1         1    1       1
52504 1                  11             1     1         1    1       1

                               DAW_CCD  MCT_N  TIME
CLNN  MCT_ADM_GDS_APB_CD HOUR
0     2                  21          1      1     1
      3                  14          1      1     1
      4                  1           1      1     1
                         5           1      1     1
                         19          1      1     1
      5                  15          1      1     1
      6                  16          1      1     1
      7                  17          1      1     1
      8                  1           1      1     1
                         11          1      1     1
                         22          1      1     1
      11                 7           1      1     1
      16                 1           1      1     1
      18                 4           1      1     1
                         11          1      1     1
                         14          1      1     1
      20                 4           1      1     1
                         18          1      1     1
      21                 8           1      1     1
                         10          1      1     1
                         17          1      1     1
      22                 11          1      1     1
      24                 8           1      1     1
                         21          1      1     1
      26                 4           1      1     1
                         15          2      2     2
      27                 14          1      1     1
                         18          1      1     1
      28                 20          1      1     1
      33                 11          1      1     1
...                                ...    ...   ...
41755 48                 16          1      1     1
41765 48                 8           1      1     1
41777 14                 6           1      1     1
41802 14                 20          1      1     1
41823 62                 6           1      1     1
41981 9                  12          1      1     1
42017 41                 7           1      1     1
42104 12                 5           1      1     1
42306 8                  1           1      1     1
42342 12                 22          1      1     1
42558 6                  7           1      1     1
42572 5                  16          1      1     1
42628 41                 12          1      1     1
42782 29                 14          1      1     1
42880 17                 1           1      1     1
43728 33                 8           1      1     1
44182 9                  9           1      1     1
44208 0                  21          1      1     1
44322 17                 11          1      1     1
44622 54                 16          1      1     1
44857 11                 19          1      1     1
44870 12                 6           1      1     1
45747 21                 3           1      1     1
46181 27                 2           1      1     1
46583 9                  10          1      1     1
47645 7                  12          1      1     1
47954 16                 1           1      1     1
48262 36                 23          1      1     1
48506 18                 9           1      1     1
52504 1                  11          1      1     1

[978665 rows x 8 columns]

In [33]:
col01a = np.random.randn(len(np.unique(df.MCT_ADM_GDS_APB_CD)), 1) # MCT_ADM_GDS_APB_CD # 서울 행정동 코드 # HJ_CD
col01 = np.round(np.sqrt(np.square(col01a)) * 30)

139

In [39]:
place = pd.read_csv('HJ_CD.csv')

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xbc in position 0: invalid start byte

In [40]:
col02 = [random.choice(['명동', '쌍문동', '상암동', '구로동', '여의동', \
                        '강일동', '역삼동', '잠실1동', '목동', '이태원동', \
                        '한남동', '행당동', '자양1동', '상계1동', '웅암동', \
                        '신림동', '사당동', '서초동', '방배동', '잠실2동', \
                        '반포동', '신길1동', '상도동', '시흥동', '화곡1동', \
                        '신정동', '신월동', '북가좌동', '상계2동', '정릉동',\
                        '면목1동', '성수동', '중곡동', '자양2동', '면목2동',\
                        '면목3동', '창동', '상계3동', '연희동', '대치동',\
                        '개포동', '성내동', '창신동', '중계동', '합정동', \
                        '연남동', '방화동', '신길2동', '대림동', '낙성대동',\
                        '신사동', '삼성동', '문정동', '암사동', '삼청동', \
                        '부암동', '회현동', '소공동', '황학동', '후암동', \
                        '화곡2동', '화곡3동', '영등포동', '을지로동', '신당동'
                       ]) for _ in range(139)] # HJ_CD_NM

In [26]:
col03 = range(0, 100) # FINAL_CD 
col04 = [random.choice(['여행', '의료', '생활편의', '문화', '카페/베이커리', '주유']) for _ in range(101)] # FINAL_CD_NM

In [ ]:
# Matching